footer {
  padding: 50px 0;
  
  .footer-links {
    display: flex;
    justify-content: space-between;

    .policy {
      padding: 0;
      margin: 28px 0 6px 0;

      li {
        margin-right: 75px;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  
    .social-media {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        width: 55px;
        height: 55px;
        margin-left: 45px;
        position: relative;
        border-radius: 50%;
        background-color: $main-color;

        a{
          position: absolute;
          width: 55px;
          height: 55px;
        }

        img {
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

