footer {
  padding: 50px 0;
  
  .footer-links {
    display: flex;
    justify-content: space-between;

    .policy {
      padding: 0;
      margin: 28px 0 6px 0;

      li {
        margin-right: 75px;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  
    .social-media {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-left: 45px;

        a {
          display: flex;
          width: 55px;
          height: 55px;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: $main-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    padding: 40px 0;
    
    .footer-links {
  
      .policy {
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 0;
  
        li {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    
      .social-media {
  
        li {
          margin-left: 20px;
        }
      }
    }
  }
}

