* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $main-text-color;
  background-color: rgb(0, 0, 0);
}

.body-wrapper {
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

h2 {
  position: relative;
  margin: 0;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;

  span {
    position: absolute;
    left: -100px;
    top: -88px;
    font-weight: 500;
    font-size: 135px;
    z-index: -1;
    color: $main-color;
    opacity: 0.5;
  }
}

p {
  line-height: 150%;
}

li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $main-text-color;
  transition: 0.3s linear;

  &:hover {
    color: $main-color;
  }
}

.button {
  padding: 18px 40px;
  border: 1px solid $main-color;
  transition: 0.3s linear;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: $main-text-color;
  background-color: transparent;

  &:hover {
    background-color: $main-color;
  }

  a:hover {
    color: $main-text-color;
  }
}

.button-play {
  width: 85px;
  height: 85px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: $main-color;

  &::before {
    right: 10px;
    position: absolute;
    box-sizing: border-box;
    content: '';
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent black;
    transform:translate(-50%, -50%);
  }
}

.button-stop {

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 10px; 
    height: 30px;
    transform: translateY(-50%);
    border-style: none;
  }

  &::before {
    left: 30px;
  }

  &::after {
    right: 30px;
  }
}
/* ------------------------------------------------ */
@media (max-width: 1024px) {
  .button-play {
    width: 70px;
    height: 70px;
  
    &::before {
      border-width: 12px 0 12px 25px;
      right: 5px;
    }
  }

  .button-stop {
  
    &::before,
    &::after {
      width: 8px; 
      height: 25px;
    }

    &::before {
      left: 25px;
    }
  
    &::after {
      right: 25px;
    }
  }
}
@media (max-width: 768px) {
  .button-play {
    width: 50px;
    height: 50px;
  
    &::before {
      border-width: 10px 0 10px 20px;
      right: 1px;
    }
  }

  .button-stop {
  
    &::before,
    &::after {
      width: 5px; 
      height: 20px;
    }
    
    &::before {
      left: 18px;
    }
  
    &::after {
      right: 18px;
    }
  }
}

@media (max-width: 425px) {

  .container {
    padding: 0 10px;
  }
}