header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  float: left;
    img {
      width: 104px;
    }
}

/* navigor menu */

.navigational-menu {
  font-weight: 500;
  float: right;
}

.burger {
  display: none;
}

.navigational-list {
  margin: 0;
  padding: 0;
    a {
      text-decoration: none;
      color: var(--main-text-color);
      transition: 0.3s linear;
    }
    li {
      position: relative;
      margin-left: 35px;
      font-size: 14px;
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
        &:hover .submenu {
          display: block;
        }
        a:hover {
          color: var(--main-color);
        }
    }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.submenu {
  position: absolute;
  left: 50%;
  padding: 0;
  display: none;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
    li {
      margin: 0;
    }
    a {
      padding: 5px;
      width: 70px;
      margin-top: -1px;
      border: 1px solid #515151;
      display: inline-block;
      text-align: center;
        &:hover {
          position: relative;
          z-index: 1;
          border-color: var(--main-color);
        }
    }  
}

/* ------------------------------------------------ */

@media (max-width: 768px) {
  .navigational-list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background-color: black;
    flex-direction: column;
      li {
        padding: 10px 0;
        margin: 0;
      }
  }

  .burger {
    position: relative;
    width: 26px;
    height: 20px;
    display: block;
    cursor: pointer;
      &:hover {
        span,
        span::before,
        span::after {
          background-color: var(--main-color);
        }
      }
      span,
      span::before,
      span::after {
        position: absolute;
        top: 8px;
        height: 2px;
        width: 100%;
        display: block;
        content: '';
        background-color: var(--main-text-color);
        transition: 0.3s linear;
      }
      span::before {
        top: 8px;
      }
      span::after {
        top: -8px;
      }
  }

  .navigational-menu {
    &:hover {
      .navigational-list {
        display: flex;
      }
    }
  }

  .submenu {
    position: static;
    transform: none;
      a {
        width: 100%;
      }
      li {
        display: block;
        padding: 0;
      }
  }

  .logo {
    img {
      width: 90px;
    }
  }
}

@media (max-width: 425px) {

  .navigational-list {
    li {
      font-size: 12px;
    }
  } 
}