/*origion-section */
.movie-section {
  padding-top: 240px;
  padding-bottom: 100px;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  img {
    width: 480px;
  }
}

.wrapper-description {
  max-width: 450px;

  h2 {
    position: relative;
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;

    span {
      position: absolute;
      left: -100px;
      top: -88px;
      font-weight: 500;
      font-size: 135px;
      z-index: -1;
      color: $main-color;
      opacity: 0.5;
    }
  }
}

.wrapper-coloms {
  position: relative;
  margin-top: 44px;

  &::before {
    top: 0;
    left: 0;
    position: absolute;
    height: 2px;
    width: 60px;
    content: '';
    background-color: $main-color;
  }
}

.wrapper-text {
  margin-left: 100px;

  p {
    margin-bottom: 55px;
    color: rgba(255, 255, 255, 0.65);
  }
}

/* reverce-section */
.movie-section-reverce {
  padding-top: 140px;

  .wrapper {
    flex-direction: row-reverse;
  }

  .wrapper-description {
    margin-left: 100px;
  }
}

/* double-section */
.double-section {
  padding-top: 150px;
  padding-bottom: 200px;
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: contain;

  .wrapper {
    justify-content: center;
  }
}

/* star-wars-section */
.star-wars-section {
  background-image: url("../img/starwars.png"), url("../img/starwars_skywalker.png");
}

/* blade-runner-section */
.blade-runner-section {
  background-image: url("../img/blade-runner-1.png"), url("../img/blade-runner-2.png");
}

/* ------------------------------------------------ */
@media (max-width: 1200px) {
  .wrapper-description {
    max-width: 400px;

    h2 {
      font-size: 36px;
    
      span {
        left: -80px;
        top: -68px;
        font-size: 110px;
      }
    }
  }  

  .wrapper {
  
    img {
      width: 450px;
    }
  }

  /* reverce-section */
  .movie-section-reverce {

    .wrapper-description {
      margin-left: 80px;
    }
  }

  /* double-section */
  .double-section {
    background-size: auto 80%;
  }
}

@media (max-width: 1024px) {
  .movie-section {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .wrapper-description {
    max-width: 300px;

    h2 {
      font-size: 30px;

      span {
        left: -60px;
        top: -58px;
        font-size: 90px;
      }
    }
  }   

  .wrapper {
  
    img {
      width: 350px;
    }
  }

  .wrapper-coloms {
  
    &::before {
      width: 50px;
    }
  }

  .wrapper-text {
    margin-left: 80px;
  
    p {
      font-size: 14px;
    }
  }

  /* reverce-section */
  .movie-section-reverce {

    .wrapper-description {
      margin-left: 60px;
    }
  }
}

@media (max-width: 768px) {
  .movie-section {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .wrapper {
    display: block;

    img {
      margin: auto;
      display: block;
    }
  }

  .wrapper-description {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;

    h2 {

      span {
        left: -40px;
        top: -38px;
        font-size: 70px;
      }
    }
  }

/* reverce-section */
  .movie-section-reverce {

    .wrapper-description {
      margin-left: auto;
    }
  }   

  /* double-section */
  .double-section {
    background-size: auto 50%;

    .wrapper-description {
      margin-top: 0;
    }
  }
}