.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(153, 149, 149, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  &:target{
    opacity: 1;
    visibility: visible;
  }

  .popup-body {
    min-height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-content {
      max-width: 1200px;
      padding: 10px;
      position: relative;
      color: white;
      background-color: black;

      .popup-close {
        top: 10px;
        right: 15px;
        position: absolute;
        font-size: 40px;
        color: $main-text-color;

        &:hover {
          color: $main-color;
        }
      }

      .popup-title {
        margin: 70px 0px 40px 100px;
        font-size: 40px;
      
        h2 {
          z-index: 1;
        }
      }

      .popup-video {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .button-play {
          top:50%;
          left:50%;
          position: absolute;
          transform:translate(-50%, -50%);
        }
      }
    }
  }
}

