* {
  box-sizing: border-box;
}

:root {
  --main-color: #00A3FF;
  --main-text-color: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: rgb(0, 0, 0);
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

p {
  line-height: 150%;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  float: left;
}

.logo img {
  width: 104px;
}


/* navigor menu */
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  position: relative;
  display: none;
}

.navigational-menu {
  font-weight: 500;
  float: right;
}

.navigational-list {
  margin: 0;
  padding: 0;
}

.navigational-list a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: 0.3s linear;
}

.navigational-list li {
  position: relative;
  margin-left: 35px;
  font-size: 14px;
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

.navigational-list li a:hover {
  color: var(--main-color);
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.navigational-list li:hover .submenu {
  display: block;
} 

.submenu {
  position: absolute;
  left: 50%;
  padding: 0;
  display: none;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
}

.submenu li {
  margin: 0;
}
  
.submenu a {
  padding: 5px;
  width: 70px;
  margin-top: -1px;
  border: 1px solid #515151;
  display: inline-block;
  text-align: center;
}

.submenu a:hover {
  position: relative;
  z-index: 1;
  border-color: var(--main-color);
}


/* main content */

.main-title {
  position: relative;
  padding-top: 190px;
  padding-bottom: 210px;
  background-image: url("../img/headphones.png");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  max-width: 980px;
  margin: 0;
  font-size: 70px;
  text-transform: uppercase;
}

h1 span {
  color: var(--main-color);
  display: block;
}

.main-title p {
  max-width: 480px;
  margin-top: 50px;
  margin-bottom: 0;
}

.arrow {
  position: absolute;
  bottom: 78px;
}

.arrow img {
  transition: 0.3s linear ;
}

.arrow img:hover {
  transform: scale(1.5);
}

/* ---------------------------- */
@media (max-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  h1 {
    max-width: 780px;
  }
}

@media (max-width: 768px) {
  /* --------burger----------------- */
  .menu__btn {
    display: block;
    width: 26px;
    height: 26px;
    top: 8px;
    float: right;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .navigational-menu {
    display: none;
  }
/* ------the end of burger----------- */

  h1 {
    max-width: 500px;
    font-size: 36px;
  }

  .main-title p {
    font-size: 12px;
    max-width: 370px;
  }

  .logo img {
    width: 90px;
  }

  .arrow img {
    width: 41px;
  }
}
