* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  margin: 0;
}
header {
padding-top: 40px;
padding-bottom: 40px;
}

.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.logo {
  width: 104px;
}

/* * navigational menu
.logo{
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 1px;
}

.navigational-list {
  list-style: none;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

a:hover {
  font-size: 23px;
  margin-top: 20px;
  border: 1px solid #000;
  width: 104px;
   ;
  color: #fff;

}

.navigational-list a {
  color: #fff;
  text-decoration: none;
}

.navigational-list a:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 1px;
}

.navigational-list-search {
  margin-left: 700px;
  padding-top: 48px;
  font-size: 14px;
  border: 1px solid #000;
  width: 56px;
  height: 16px;
}

.navigational-list-add {
  margin-left: 36px;
  padding-top: 48px;
  border: 1px solid #000;
  width: 156px;
  height: 16px;
}

.navigational-list-faq {
  margin-left: 36px;
  padding-top: 48px;
  border: 1px solid #000;
  width: 28px;
  height: 16px;
}

.navigational-list-go {
  margin-left: 36px;
  margin-right: 132px;
  padding-top: 48px;
  border: 1px solid #000;
  width: 42px;
  height: 16px;
}

.container:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 1px;
} */
